@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #111C24;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 62px;
    width: 100%;
}

.wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

p {
    margin: 0;
}

.row {
    margin: 0;
}

label {
    margin: 0;
}

.first-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 79px;
}

h3 {
    color: grey;
}

.header {
    border-top: 16px solid #083180;
    margin: 0;
    padding-top: 18px;
    margin-bottom: 36px;
}

.header-main {
    padding-left: 29px;
    padding-right: 29px;
}

.header-text {
    padding: 0;
    line-height: 24.38px;
    font-size: 20px;
    font-weight: 400;
    color: #111C24;
}

.header-text span {
    color: black;
    font-weight: 600;
    /* font-weight: lighter; */
}

a {
    text-decoration: underline;
}

.logout-link {
    padding: 0;
    text-align: end;
    font-size: 20px;
    color: #08317F;
    line-height: 24.38px;
}

.logout-link a {
    color: #08317F;
}

.center-num {
    margin: 0;
    text-align: center;
    margin-bottom: 46px;
}

.main-num {
    font-size: 36px;
    color: #08317F;
    line-height: 43.88px;
    font-weight: 600;
    margin-bottom: 13px;
}

.num-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 20.72px;
}

.num-text a {
    color: #111C24;
}

.form-wrapper {
    max-width: 992px;
    margin: 0 auto;
    width: 100%;
    background-color: #E2ECFF;
    padding-top: 45px;
    padding-bottom: 41px;
}

.name-input {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 17px;
}

.to-label {
    font-size: 22px;
    line-height: 26.82px;
    font-weight: 600;
    text-align: end;
}

.input-num-text p {
    color: #778AAF;
    font-size: 20px;
    line-height: 24.38px;
    font-weight: 500;
}

.input-div {
    padding-left: 0;
}

.message-input {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.txtarea {
    resize: none;
    margin-bottom: 14px;
}

.attach-file {
    margin: 0;
    margin-bottom: 58px;
}

.attach-file a {
    color: #08317F;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 500;
}

.form-btn {
    margin: 0;
}

.sub-btn {
    padding-left: 0;
}

.submit-btn {
    background-color: #083180;
    border-radius: 2px;
    padding: 17px 19px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
}

.schedule-link a, span {
    color: #778AAF;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
}

.tabs-container {
    margin: 0;
}

.second-wrapper {
    width: 100%;
    /* padding-left: 113px;
    padding-right: 113px; */
    /* margin-bottom: 2%; */
}

.nav-header {
    padding-left: 0;
    padding-left: 29px;
}

.nav-item {
    margin-right: 15px;
}

.nav-tabs .nav-link.active {
    background-color: #E2ECFF;
}

.nav-tabs .nav-link {
    background-color: #c3d2ef;
}

.nav-item a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    line-height: 24.38px;
}

.password-link {
    text-align: end;
}

.password-link a {
    color: #08317F;
    font-size: 20px;
    line-height: 24.38px;
    font-weight: 600;
}

.third-wrapper {
    background-color: #E2ECFF;
    padding-top: 49px;
    padding-bottom: 105px;
}

.third-wrapper-main {
    max-width: 1082px;
    width: 100%;
    margin: 0 auto;
}

.photo-content {
    padding-left: 0;
    padding-right: 0;
}

.photo-title {
    max-width: 100%;
    padding: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.76px;
    margin-bottom: 9px;
    padding-bottom: 9px;
    border-bottom: 2px solid #9FB3DA;
    margin-bottom: 43px;
}

.images-container {
    justify-content: space-between;
}

.picture-container {
    background-color: #ffffff;
    padding: 19px;
    /* margin-right: 42px; */
}

.picture {
    margin-bottom: 19px;
}

.img-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    margin-bottom: 4px;
}

.img-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #778AAF;
    /* margin-bottom: 4px; */
}

.img-div-1 {
    margin-bottom: 43px;
}

.img-div-2 {
    margin-bottom: 70px;
}

.more-photos {
    background-color: #083180;
    padding: 31px 0;
    text-align: center;
    border-radius: 2px;
}

.more-photos a {
    color: white;
    font-size: 24px;
    line-height: 29.26px;
    text-decoration: underline;
    margin-bottom: 12px;
}

.more-photos p {
    font-size: 20px;
    line-height: 24.38px;
    color: white;
}

.nav-tabs .nav-item {
    border-bottom: none;
}