body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.wrapper {
    max-width: 1170px;
    border: 1px solid #000;
    margin: auto;
}

.wrapper-first {
    width: 100%;
    padding: 0px 20px;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.header-first {
    width: 30%;
    float: left;
    padding: 40px;
}

.header-second {
    width: 20%;
    float: right;
    padding: 40px;
}

.wrapper-center {
    width: 100%;
    margin-bottom: 10px;
}

.center-first {
    width: 35%;
    padding: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.center-second {
    width: 10%;
    padding: 15px;
    margin: 0 auto;
}

.wrapper-first-footer {
    max-width: 100%;
    padding: 40px;
}

.wrapper-first-footer-1 {
    /* padding: 40px 40px 30px 40px; */
    width: 100%;
    margin-bottom: 30px;
}

.wrapper-first-footer-11 {
    width: 22%;
    padding: 15px;
    margin-right: 3%;
    float: left;
    margin-top: 15px;
}
.wrapper-first-footer-1-sub{
    width: 75%;
    float: left;
}

.wrapper-first-footer-12 {
    width: 40%;
    float: left;
    padding: 30px;
    margin-right: 35px;
}

.wrapper-first-footer-13 {
    width: 31%;
    padding: 20px;
    float: left;
    margin-top: 10px;
}

.wrapper-first-footer-2 {
    width: 100%;
}

.wrapper-first-footer-2-1 {
    width: 22%;
    float: left;
    margin-right: 3%;
}

.wrapper-first-footer-2-2 {
    width: 75%;
    display: inline-block;
}

.wrapper-first-footer-2-2-1 {
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
}

.wrapper-first-footer-2-2-2 {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}
.wrapper-first-footer-2-2-3{
    width: 100%;
}
.wrapper-first-footer-2-2-3-1{
    width: 50%;
    padding: 50px;
    float: left;
    margin-right: 20px;
}
.wrapper-first-footer-2-2-3-2{
    float: left;
    width: 40%;
    padding: 25px;
    margin-top: 25px;
}

.wrapper-first-last-part{
    width: 100%;
    padding: 50px 0px 0px 0px;
}
.wrapper-first-last-part-1{
    width: 70%;
    float: left;
}
.wrapper-first-last-part-1-common{
    border: 1px solid #000;
    padding: 25px;
    width: 31%;
    float: left;
    margin-right: 3%;
}
.wrapper-first-last-part-2{
    width: 15%;
    padding: 20px;
    float: right;
    margin-top: 5px;
}

.wrapper-second{
    width: 100%;
    border: 1px solid #000;
}
.wrapper-second-main{
    padding: 0px 20px;
    padding-bottom: 5px;
}
.wrapper-second-1{
    padding: 30px 0px;
    margin-bottom: 20px;
}
.wrapper-second-1-common{
    width: 30%;
    padding: 30px;
    float: left;
}
.wrapper-second-2{
    width: 100%;
    margin-bottom: 30px;
}
.wrapper-second-2-1{
    width: 15%;
    padding: 20px;
    margin-bottom: 10px;
}
.wrapper-second-2-2{
    margin-bottom: 10px;
    width: 100%;
}
.wrapper-second-2-2-1{
    width: 80%;
    padding: 30px;
    float: left;
}
.wrapper-second-2-2-2{
    width: 18%;
    padding: 30px;
    float: right;
}
.wrapper-second-2-3{
    width: 40%;
    padding: 20px;
}
.wrapper-second-3{
    padding: 40px;
    width: 100%;
    margin-bottom: 30px;
}
.wrapper-second-4{
    width: 100%;
    margin-bottom: 20px;
    float: left;
}
.wraapper-second-4-1{
    padding: 20px;
    width: 15%;

}
.wrapper-footer{
    margin: auto;
    max-width: 1170px;
}
.wrapper-footer-main{
    width: 100%;
    padding: 20px 0px;
}
.wrapper-footer-main-1{
    padding: 15px;
    width: 20%;
    float: left;
}
.wrapper-footer-main-2{
    float: right;
    padding: 15px;
    width: 50%;
}